<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviecatalogueega">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Lainnya.ActivityKalkulator"></activity>
        <activity android:name=".Lainnya.ActivityKalenderWaktu" />
        <activity android:name=".Intent_Bundle_parcelable.ActivityDialogInterface" />
        <activity android:name=".ViewPagerTablayout.MainActivityViewPager" />
        <activity android:name=".Crud_SQLite.ActivityAddEdit" />
        <activity android:name=".Crud_SQLite.MainActivitySQLite" />
        <activity android:name=".Notification.BigTextMainActivity" />
        <activity android:name=".Notification.MainActivityNotification" />
        <activity android:name=".Notification.HomeSqlActivity" />
        <activity android:name=".ActivityUpload" />
        <activity android:name=".ActivityHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewAndViews.ViewAndViews" />
        <activity android:name=".Fragment.ProfilActivity" />
        <activity android:name=".Fragment.MainActivity_Fragment" />
        <activity android:name=".Intent_Bundle_parcelable.MoveActivityWithResult" />
        <activity android:name=".Intent_Bundle_parcelable.MoveActivityWithObject" />
        <activity android:name=".Intent_Bundle_parcelable.MoveActivityWithData" />
        <activity android:name=".Intent_Bundle_parcelable.ActivityMove" />
        <activity android:name=".Intent_Bundle_parcelable.ActivityMainIntentBundle" />
        <activity android:name=".ActivityDetilFilm" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Crud_FAN.CrudMainActivity" />
        <activity android:name=".Crud_FAN.ActivityLihatData" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>